.carte-container {
    padding: 20px;
    text-align: center;
}

.carte-container h2 {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 20px;
}

.map {
    height: 600px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}