.pollutant {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.pollutant.good {
    background-color: green;
}

.pollutant.bad {
    background-color: red;
}

.reef-area {
    position: relative;
    width: 100%;
    height: 90%;
    background-color: #e0f7fa;
    overflow: hidden;
}

.bucket {
    position: absolute;
    bottom: 5%; /* Positionné en bas de l'écran */
    width: 10%; /* Largeur du récipient */
    height: 30px;
    background-color: blue;
    border-radius: 10px;
}

.game-over {
    text-align: center;
    color: green;
}
